.header {
  margin: 28px 48px 0 48px;
  max-width: 1184px;
  min-width: 288px;
  display: grid;
  grid-template-columns: auto repeat(2,min-content);
  align-items: end;
  position: relative;
}

@media screen and (max-width:768px) {
  .header {
    margin: 28px 24px 0 24px;
  }
}

@media screen and (max-width:450px) {
  .header {
    grid-template-rows: 42px;
    margin: 16px 16px 0;
  }
}