.footer__copyright {
  text-align: end;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width:756px) {
  .footer__copyright {
    text-align: start;
    margin-top: 16px;
    line-height: 14px;
  }
}