.cover__background {
  background-image: url("../../../images/cover__background.jpg");
  background-size: cover;
  background-position: left;
  min-width: 720px;
  max-height: 740px;
  width: 100%;
  height: 100%;
  z-index: 0;
}