.place {
  display: grid;
  grid-template-columns: calc(50% - 32px) 50%;
  grid-template-rows: repeat(2,min-content);
  margin-bottom: 80px;
  column-gap: 40px;
}

@media screen and (max-width:580px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,min-content);
    row-gap: 32px;
  }
}